<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learn.english.smart">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name="com.learn.english.smart.receivers.NotificationsReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.learn.english.smart.activities.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.learn.english.smart.activities.SelectionActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.learn.english.smart.activities.MainActivity" />
        <activity
            android:name="com.learn.english.smart.activities.CardsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.learn.english.smart.activities.MainActivity" />
        <activity
            android:name="com.learn.english.smart.activities.WordsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.learn.english.smart.activities.MainActivity" />

        <service
            android:name="com.learn.english.smart.services.DownloadDBService"
            android:exported="false" />

        <provider
            android:name="com.learn.english.smart.providers.WordsProvider"
            android:authorities="com.learn.english.smart.provider"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>